container_commands:
 00_make_executable1:
  command: "chmod +x scripts/createadmin.py"
 01_make_executable1:
  command: "chmod +x manage.py"
 02_syncdb:
  command: "django-admin.py syncdb --noinput"
  leader_only: true
 03_createadmin:
  command: "scripts/createadmin.py"
  leader_only: true
 04_collectstatic:
  command: "django-admin.py collectstatic --noinput"
 05_migrate_restservice:
  command: "./manage.py migrate restservice --noinput"
  leader_only: true
option_settings:
 "aws:elasticbeanstalk:container:python:environment":
  DJANGO_SETTINGS_MODULE: "cch_backend.settings"
 "aws:elasticbeanstalk:container:python":
  WSGIPath: "cch_backend/wsgi.py"
 "aws:elasticbeanstalk:container:python:staticfiles":
  "/static/": "static/"